* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: radial-gradient(#fff, #ffd6d6);
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

h1 {
    padding-top: 50px;
    padding-left: 25px;
}

.vid {
    width: 100%;
    height: 100vh;
    position: relative;
}

.vid video {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5px 5px 0 0;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 video {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 p {
    font-size: 20px;
    color: black;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.row {
    margin-top: 40px;
}

.btn:hover {
    background: #563434;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

h4 {
    font-size: 20px;
    padding-left: 10px;
}

.small-container p {
    padding-left: 10px;
    font-size: 20px;
}

.rating {
    color: #ff523b;
}

.col-3:hover {
    transform: translateY(-5px);
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

blockquote {
    border: solid;
    font-family: Georgia, "Times New Roman", Times, serif;
}

blockquote h3 {
    font-size: 15px;
}

blockquote h3:before {
    content: open-quote;
    font-weight: bold;
    font-size: 50px;
    color: #889c0b;
}

blockquote h3:after {
    content: close-quote;
    font-weight: bold;
    font-size: 50px;
    color: #889c0b;
}

.testimonial {
    padding-top: 100px;
}

.testimonial .col-5 {
    text-align: center;
    padding: 40px 20px;
}

.testimonial .col-5 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}