* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: radial-gradient(rgb(248, 206, 206), #f7b8b8);
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

h1 {
    padding-top: 50px;
    padding-left: 25px;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    margin-top: 20px;
    font-size: 30px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.categories {
    margin: 70px 50px;
}

.row {
    margin: 40px;
}

.col-3 {
    flex-basis: 30%;
    padding: 10px;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}

.small {
    margin-left: 20px;
}

.col-2 .offer-img {
    padding: 50px;
}

.col-3 img {
    width: 30%;
    margin: 30px;
}

.col-3 .jeans {
    width: 60%;
    height: 30%;
}

.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

h4 {
    font-size: 20px;
    padding-left: 10px;
}

.small-container p {
    padding-left: 10px;
    font-size: 20px;
}

.rating {
    color: #ff523b;
}

.col-3:hover {
    transform: translateY(-10px);
}

hr {
    margin: 10px 0;
    border: none;
    border-top: #ccc 1px dotted;
}