h1 {
    text-align: center;
}

.Customer {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    text-align: left;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 0 auto 80px;
}

.Customer thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.Customer th,
.Customer td {
    padding: 12px 15px;
    padding-right: 100px;
    padding-left: 50px;
}

.Customer-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.Customer tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.Customer tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: radial-gradient(#fff, #ffd6d6);
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

h1 {
    padding-top: 50px;
    padding-left: 25px;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    margin-top: 20px;
    font-size: 30px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.body {
    margin: 70px 50px;
}

hr {
    margin: 10px 0;
    border: none;
    border-top: #ccc 1px dotted;
}